.Rproj.user
**/*.Rproj
.Rhistory
.RData
.Ruserdata
data/shapefiles/*
data/2017_sa/*
**/*.pdf
**/*.docx
**/*.key
**/*.pptx
**/*.tiff
**/*.html
*.png
*.zip
*.tif
*.nc
*.Rdata
*.db
.DS_Store
**/.DS_Store
presentations/libs/
libs/
*.svg
*.bib
*.o
*.so
*.gc
results/*
presentations/*
/data/shapefiles/World_EEZ_v10_20180221/eez_v10.shp